.App {
  text-align: center;
  background-color: black;
  color: white;
}
.main_pic{
  width: 100%;
  margin-bottom: 20px;
}
.set_of_cards{
  display: flex ;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.card{
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 6px 6px 4px rgba(255, 255, 255, 0.5);
}
.question-container1 {
  position: relative;
  border-radius: 20px;
  padding: 15px;
  margin-top: 20px;
  width: 1250px;
  background-color: #fff;
  /* Ensure background color to cover pseudo-element */
  z-index: 1;
  /* Ensure content stays above the pseudo-element */
}

.question-container1::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 20px;
  /* Adjust according to the .question-container1 border-radius */
  background: linear-gradient(white, tomato);
  z-index: -1;
  /* Ensure the pseudo-element is below the .question-container1 content */
}
.container {
  display: flex;
  justify-content: space-around;
}
.Question{
  color: tomato;
  font-weight: 900;
}
.card:hover{
  transform: scale(1.005);
}
.card_heading{
  color: tomato;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
